# Django

SECRET_KEY=__s3cr3t__
DEBUG=True
ALLOWED_HOSTS=localhost,
DATABASE_URL=postgres://tumo:TuMotUmO@db:5432/tumo
STATICFILES_STORAGE=django.contrib.staticfiles.storage.StaticFilesStorage

SECURE_SSL_REDIRECT=False

# Send emails - default dev: mailhog

EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=contato@tumo.com.br

# Postgres

POSTGRES_DB=tumo
POSTGRES_USER=tumo
POSTGRES_PASSWORD=TuMotUmO

# AWS S3

USE_S3=False
AWS_ACCESS_KEY_ID=''
AWS_BUCKET=''
AWS_BUCKET_REGION=''
AWS_SECRET_ACCESS_KEY=''

# SendGrid

SENDGRID_API_KEY=

# Sentry

SENTRY_DSN=
