dj-database-url==0.5.0
Django==3.1
python-decouple==3.3
django-extensions==3.0.5
psycopg2-binary==2.8.5
gunicorn==20.0.4
pytest
pytest-django
pytest-mock
pytest-cov
django-debug-toolbar
model-bakery
tblib
django-crum
pillow
django-registration==3.1.1
sentry-sdk==0.18
requests
djangorestframework
djangorestframework-simplejwt
django-filter
django-storages
boto3==1.4.4
python-dateutil==2.8.1
djangorestframework-datatables==0.6.0
django-storages
boto3==1.4.4