<script>
    (function( $ ) {
        function bloquearCampos(){
            $("#btn_enviar_form_contato").attr('disabled', true);
			$("#btn_enviar_form_contato").html('...');

            $("#nome").prop('disabled',true);
            $("#email").prop('disabled',true);
            $("#mensagem").prop('disabled',true);
        }

        function desbloquearCampos(){
            $("#btn_enviar_form_contato").html('Enviar');
            $("#btn_enviar_form_contato").attr('disabled', false);

            $("#nome").prop('disabled',false);
            $("#email").prop('disabled',false);
            $("#mensagem").prop('disabled',false);
        }

        function exibirMensagem(klass, msg){
            $("."+klass+"-message").html(msg);
            $("."+klass+"-message").addClass("d-block");
        }

        function limparCampos(){
            $("#nome").val('');
            $("#email").val('');
            $("#mensagem").val('');
         
            removerMensagens();
        }

        function removerMensagens(){
            $(".error-message").removeClass("d-block");
            $(".sent-message").removeClass("d-block");
        }

        $('input, textarea').focus(function(event) {
            removerMensagens();
        });

        $('#form_contato').submit(function(event) {
			event.preventDefault();

            var form_contatos = $('#form_contato').serialize()
            bloquearCampos();

            $.ajax({
				type: 'POST',
				url: '/ajax/tumo/contato/send_email/',
				data: form_contatos,
				success: function(data){
                    exibirMensagem('sent', data["message"]);

                    setTimeout(function(){
                        desbloquearCampos();
                        limparCampos();
                    }, 5000);
				},
				error: function(data){
                    desbloquearCampos();

                    exibirMensagem('error', data["responseJSON"]["error"]);
				},
			});
        });
    })( jQuery );
</script>