{% load static %}

<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>PORTFÓLIO</h2>
        <p>Algumas soluções desenvolvidas para nossos clientes:</p>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap rounded shadow">
            <img src="{% static 'tumo/img/portfolio-lisies-psicologa.png' %}" class="img-fluid" alt="Lisies Psicóloga">
            <div class="portfolio-info">
              <h4>LISIES PSICÓLOGA</h4>
              <p>Site institucional</p>
              <div class="portfolio-links">
                <a href="https://www.lisiespsicologa.com.br" target="_blank" class="portfolio-details-lightbox" title="Lisies Psicóloga"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap rounded shadow">
            <img src="{% static 'tumo/img/portfolio-procura-que-acha.png' %}" class="img-fluid" alt="Procura Que Acha">
            <div class="portfolio-info">
              <h4>PROCURA QUE ACHA</h4>
              <p>Informações de utilidade pública</p>
              <div class="portfolio-links">
                <a href="https://www.procuraqueacha.com.br" target="_blank" class="portfolio-details-lightbox" title="Procura Que Acha"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap rounded shadow">
            <img src="{% static 'tumo/img/portfolio-galinha-na-cozinha.png' %}" class="img-fluid" alt="Galinha na Cozinha">
            <div class="portfolio-info">
              <h4>GALINHA NA COZINHA</h4>
              <p>Site de receitas</p>
              <div class="portfolio-links">
                <a href="https://www.galinhanacozinha.com.br" target="_blank" class="portfolio-details-lightbox" title="Galinha na Cozinha"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap rounded shadow">
            <img src="{% static 'tumo/img/portfolio-belem-saude.png' %}" class="img-fluid" alt="Galinha na Cozinha">
            <div class="portfolio-info">
              <h4>BELÉM SAÚDE</h4>
              <p>Site institucional e plataforma de gestão</p>
              <div class="portfolio-links">
                <a href="https://www.belemsaude.com" target="_blank" class="portfolio-details-lightbox" title="Galinha na Cozinha"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>