<footer id="footer" class="bg-dark-gray text-white">
    <div class="container py-5">
        <h3>TUMO</h3>
        <p class="m-0">Soluções simples e inteligentes</p>
        <!-- <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div> -->
    </div>
</footer><!-- End Footer -->