<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
        <ul>
        <li><a href="#home" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#processo" class="nav-link scrollto"><i class="bx bx-grid-alt"></i> <span>Processo</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-layer"></i> <span>Portfólio</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contatos</span></a></li>
        </ul>
    </nav>
</header>